<% layout('./layout') -%>

<header>
  <div class="top">
    <a title="Recommended by Outbrain's Frontend Guild" href="https://www.outbrain.com/" target="_blank">
      <img src="/public/images/logo.png" />
    </a>
    <h1>Frontend Top 10</h1>
  </div>
  <hgroup>
    <h3 style="font-size: 20px;">News, links, articles, and stories every Frontend Developer needs to read.</h3>
    <h4>
      <img src="public/images/youtube.png" alt="YouTube Logo" />
      <span>Also available on</span> <a href="https://www.youtube.com/playlist?list=PLqKZ3WNtora0Ao1mA3hvHG0oqf3TFugMv" target="_blank">YouTube</a></h4>
  </hgroup>
</header>
 <main>
  <div class="homepage">
    <h4>History</h4>
    <% for (var listing of listings) { %>
      <p>
        <a href="/<%= listing.path %>"><%= listing.title %></a>
      </p>
    <% } %>
  </div>
</main>
<footer>
  <p>
    Send us your links to 
    <a href="mailto:FrontEndGuild@outbrain.com">FrontEndGuild@outbrain.com</a>
  </p>
</footer>