<% layout('./layout') -%>

<header>
  <div class="top">
    <a title="Recommended by Outbrain's Front End Guild" href="https://www.outbrain.com/" target="_blank">
      <img src="/public/images/logo.png" />
    </a>
    <h1>Front End Top 10</h1>
  </div>
  <h3 style="font-size: 20px;">News, links, articles, and stories every Front End Developer needs to read.</h3>
</header>
 <main>
  <div class="homepage">
    <h4>History</h4>
    <% for (var listing of listings) { %>
      <p>
        <a href="/<%= listing.path %>"><%= listing.title %></a>
      </p>
    <% } %>
  </div>
</main>
<footer>
  <p>
    Send us your links to 
    <a href="mailto:FrontEndGuild@outbrain.com">FrontEndGuild@outbrain.com</a>
  </p>
</footer>